@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, p, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header .nav__title-link:hover, .header .nav__links .list__item-link:hover, .header .nav .covid__link:hover, .header .nav__title-link:active, .header .nav__links .list__item-link:active, .header .nav .covid__link:active {
  cursor: pointer;
  color: #d4d9e6;
  transition: 0.15s;
}

.hero__notify-btn:hover, .hero__notify-btn:active {
  cursor: pointer;
  color: #fff;
  transition: 0.15s;
}

.hero__content .hero__action-btn:hover, .hero__content .hero__action-btn:active {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.header .nav .globe__link-icon:hover, .header .nav .globe__link-icon:active {
  cursor: pointer;
  fill: #d4d9e6;
}

.header .nav .burger__btn-icon:active {
  cursor: pointer;
  fill: #d4d9e6;
}

.exp__cards-item:hover, .exp__cards-item:active {
  cursor: pointer;
  box-shadow: 0px 4px 38px -8px rgba(0, 0, 0, 0.55);
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition: 0.15s;
  color: #fff;
}

.main__experience .experience__card:hover, .main__experience .experience__card:active {
  background-color: rgba(76.5, 76.5, 76.5, 0.1);
  box-shadow: 0px 20px 38px -8px rgba(0, 0, 0, 0.55);
  transition: 0.15s;
}

.main__experience .experience__card-btn:hover, .main__experience .experience__card-btn:active {
  scale: 1.3;
  transition: 0.15s;
}

.testimonials__slider .testimonials__btn:hover, .testimonials__slider .testimonials__btn:active {
  transition-duration: 0.15s;
  background-color: rgba(216.75, 216.75, 216.75, 0.15);
}

.testimonials__points-item:hover, .testimonials__points-item:active {
  transition-duration: 0.15s;
  background-color: rgb(216.75, 216.75, 216.75);
}

.testimonials__points .selected:hover, .testimonials__points .selected:active {
  transition-duration: 0.15s;
  background-color: rgb(127.5, 127.5, 127.5);
}

::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
}

/* Стили для ползунка (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #678FF2; /* Цвет ползунка */
  border-radius: 5px; /* Закругления */
  border: 2px solid #d4d9e6; /* Добавить отступы для ползунка */
}

/* Стили для трека (track) */
::-webkit-scrollbar-track {
  background-color: #d4d9e6; /* Цвет трека */
  border-radius: 5px; /* Закругления */
}

/* Стили при наведении мыши на ползунок */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(7.0909090909, 28.9090909091, 82.9090909091); /* Более тёмный цвет на ховер */
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}
.header .nav {
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
}
.header .nav__title {
  height: 100%;
  width: 225px;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
}
.header .nav__title-link {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.header .nav__title-link span {
  font-weight: 700;
}
.header .nav__links {
  flex-grow: 1;
}
.header .nav__links .list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: min(100px, 5vw);
  row-gap: 0;
  padding-left: min(100px, 5vw);
}
.header .nav__links .list__item-link {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 768px) {
  .header .nav__links .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: min(100px, 3vw);
    row-gap: 0;
    padding-inline: 5px;
  }
}
.header .nav .covid {
  height: 100%;
  padding-inline: 30px;
  border-left-color: #fff;
  border-left-width: 1px;
  border-left-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
}
.header .nav .covid__link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.header .nav .globe {
  height: 100%;
  padding-inline: 30px;
  border-left-color: #fff;
  border-left-width: 1px;
  border-left-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
}
.header .nav .globe__link-icon {
  width: 27px;
  height: 27px;
  fill: #fff;
}
.header .nav .burger {
  height: 100%;
  padding-inline: 30px;
  border-left-color: #fff;
  border-left-width: 1px;
  border-left-style: solid;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
  display: none;
}
.header .nav .burger__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
  height: 100%;
}
.header .nav .burger__btn-icon {
  width: 27px;
  height: 27px;
  fill: #fff;
}
@media (max-width: 576px) {
  .header .nav .burger {
    display: flex;
  }
}
@media (max-width: 576px) {
  .header .nav .globe {
    display: none;
  }
  .header .nav .covid {
    border-left-width: 0px;
  }
  .header .nav__links {
    display: none;
  }
  .header .nav .burger {
    width: 50%;
    padding: 0 15px 0 0;
  }
  .header .nav .burger__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 0;
    row-gap: 0;
  }
}
@media (max-width: 428px) {
  .header .nav .burger {
    border-left-width: 0;
  }
  .header .nav .covid {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 0;
    row-gap: 0;
  }
}

.hero {
  position: relative;
  max-width: 1260px;
  height: 830px;
  margin: 0 auto;
  padding-top: 140px;
  background-image: url("../assets/img/cloud_alpha.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__content {
  position: relative;
  width: 860px;
  margin: 0 auto;
}
.hero__content .hero__title {
  font-size: 120px;
  font-weight: 700;
  font-style: normal;
  color: #000;
  line-height: 1;
}
.hero__content .hero__action-btn {
  width: 380px;
  height: 80px;
  background-color: #000;
  border-radius: 90px;
  border: none;
  position: absolute;
  z-index: 1;
  bottom: 22px;
  right: 0px;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}
.hero__content .hero__action-btn:focus {
  outline: none;
}
.hero__content .hero__action-btn:focus-visible {
  outline: 3px solid #fff;
}
@media (max-width: 992px) {
  .hero__content {
    width: 100%;
    max-width: 700px;
    height: 500px;
  }
  .hero__content .hero__title {
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: #000;
  }
  .hero__content .hero__action-btn {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 15px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    width: 100%;
    max-width: 560px;
    height: 400px;
  }
  .hero__content .hero__title {
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
    color: #000;
  }
  .hero__content .hero__action-btn {
    width: 260px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .hero__content {
    width: 100%;
    max-width: 425px;
    height: 320px;
  }
  .hero__content .hero__title {
    font-size: 65px;
    font-weight: 700;
    font-style: normal;
    color: #000;
    line-height: 1;
  }
  .hero__content .hero__action-btn {
    width: 220px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
@media (max-width: 428px) {
  .hero__content {
    width: 100%;
    max-width: 320px;
    height: 260px;
  }
  .hero__content .hero__title {
    font-size: 46px;
    font-weight: 700;
    font-style: normal;
    color: #000;
    line-height: 1;
  }
  .hero__content .hero__action-btn {
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
.hero__notify {
  position: relative;
  margin: 160px auto 0;
  max-width: 680px;
  height: 68px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 0;
}
.hero__notify-img {
  position: absolute;
  z-index: 1;
  bottom: -55px;
  left: -35px;
}
.hero__notify-content {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
  row-gap: 0;
  font-size: 14px;
  font-weight: 400;
  font-style: #000;
  color: #000;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 0.95;
}
.hero__notify-btn {
  width: 115px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  font-style: #000;
  color: #000;
  text-transform: uppercase;
}
.hero__notify-btn:focus {
  outline: none;
}
.hero__notify-btn:focus-visible {
  outline: 3px solid #fff;
}
@media (max-width: 768px) {
  .hero__notify {
    width: 100%;
    max-width: 450px;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }
  .hero__notify-content {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 20px 15px 85px;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    color: #000;
    line-height: 1.3;
  }
  .hero__notify-btn {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    padding-block: 15px;
  }
  .hero__notify-img {
    position: absolute;
    z-index: 1;
    bottom: -25px;
    left: -35px;
  }
  .hero__notify .br {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero__notify {
    width: 100%;
    max-width: 320px;
  }
  .hero__notify-img {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -35px;
  }
}
@media (max-width: 428px) {
  .hero__notify {
    width: 100%;
    max-width: 260px;
  }
  .hero__notify-content {
    line-height: 1.5;
  }
  .hero__notify-img {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -18px;
    scale: 0.6;
  }
  .hero__notify-btn {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    padding-block: 15px;
  }
}
.hero__scroll {
  position: absolute;
  z-index: 1;
  top: 560px;
  left: 30px;
}
.hero__scroll-content {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  writing-mode: vertical-lr;
  cursor: pointer;
}
.hero__scroll-content:after {
  content: "";
  display: block;
  width: 1px;
  height: 75px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 8px;
}
@media (max-width: 992px) {
  .hero__scroll {
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 20px;
  }
}
@media (max-width: 576px) {
  .hero__scroll {
    position: absolute;
    z-index: 1;
    top: 500px;
    left: 10px;
  }
}
@media (max-width: 428px) {
  .hero__scroll {
    position: absolute;
    z-index: 1;
    top: 480px;
    left: 5px;
  }
}
@media (max-width: 992px) {
  .hero__notify {
    margin: 110px auto 0;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 820px;
    padding: 110px 15px 0;
    background-image: url("../assets/img/cloud_alpha.png");
    background-position: 0 25%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .hero__notify {
    margin: 120px auto 0;
  }
}
@media (max-width: 576px) {
  .hero {
    height: 730px;
  }
  .hero__notify {
    margin: 110px auto 0;
  }
}
@media (max-width: 428px) {
  .hero {
    height: 730px;
  }
  .hero__notify {
    margin: 100px auto 0;
  }
}

.main__exp {
  border-bottom: 1px solid #fff;
}

.exp {
  max-width: 930px;
  margin: 0 auto 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 65px;
}
.exp__title {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.exp__cards {
  max-width: 930px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 0;
}
.exp__cards-item {
  width: 178px;
  height: 193px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  padding-inline: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 12px;
}
.exp__cards-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 197px;
  row-gap: 68px;
}
.exp__cards-icon {
  width: 50px;
  height: 50px;
}
.exp__cards-title {
  font-size: 18px;
  font-weight: 500;
}
.exp__cards-text {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.exp__cards .card-integration {
  padding-top: 20px;
}
@media (max-width: 992px) {
  .exp__cards-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 100px;
    row-gap: 68px;
  }
}
@media (max-width: 576px) {
  .exp__cards-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 35px;
  }
}
@media (max-width: 428px) {
  .exp__cards-item {
    width: 140px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 10px;
  }
  .exp__cards-icon {
    width: 40px;
    height: 40px;
  }
  .exp__cards-title {
    font-size: 14px;
  }
  .exp__cards-text {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .exp__cards {
    height: 760px;
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .exp__cards {
    height: 660px;
  }
}
@media (max-width: 428px) {
  .exp__cards {
    height: 530px;
  }
  .exp__title {
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .exp {
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  .exp {
    margin-block: 80px;
  }
}
@media (max-width: 428px) {
  .exp {
    margin-block: 40px;
  }
}
.main__about {
  border-bottom: 1px solid #fff;
  padding: 140px 0 0 0;
}
.main__about .about {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 130px;
}
.main__about .about__quality {
  width: 100%;
  height: 400px;
  padding: 0 0 0 15px;
  background-image: url("../assets/img/desktop_alpha.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}
.main__about .about__quality-title {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.main__about .about__quality-desc {
  max-width: 590px;
  line-height: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}
@media (max-width: 1200px) {
  .main__about .about__quality {
    background: linear-gradient(180deg, rgb(103, 143, 242) 0%, rgba(103, 143, 242, 0) 74%), url("../assets/img/desktop_alpha.webp") 90% 45%/500px no-repeat;
  }
}
@media (max-width: 768px) {
  .main__about .about__quality {
    background: url("../assets/img/desktop_alpha.webp") 99% 100%/450px no-repeat;
  }
  .main__about .about__quality-title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
  .main__about .about__quality-desc {
    line-height: 25px;
    margin-top: 10px;
    max-width: 500px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .main__about .about__quality {
    background: url("../assets/img/desktop_alpha.webp") 150px 100%/400px no-repeat;
  }
  .main__about .about__quality-desc {
    margin-top: 10px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
  }
}
.main__about .about__touch {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 20px;
}
.main__about .about__touch::before {
  content: "";
  width: 100%;
  height: 100%;
  transform: rotate(15deg);
  background-image: url("../assets/img/phone_alpha.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -400px;
}
@media (max-width: 1200px) {
  .main__about .about__touch::before {
    scale: 0.8;
  }
}
@media (max-width: 992px) {
  .main__about .about__touch::before {
    rotate: 25deg;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -330px;
  }
}
@media (max-width: 768px) {
  .main__about .about__touch::before {
    rotate: 55deg;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -260px;
  }
}
@media (max-width: 576px) {
  .main__about .about__touch::before {
    scale: 1.1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -160px;
  }
}
@media (max-width: 428px) {
  .main__about .about__touch::before {
    height: 70%;
    scale: 1.2;
    position: absolute;
    z-index: -1;
    top: 60px;
    left: -100px;
  }
}
.main__about .about__touch-title {
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.main__about .about__touch-desc {
  margin-top: 10px;
  text-align: right;
  line-height: 30px;
  max-width: 480px;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}
@media (max-width: 768px) {
  .main__about .about__touch {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }
  .main__about .about__touch-title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
  .main__about .about__touch-desc {
    line-height: 25px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .main__about .about__touch {
    margin-top: 140px;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }
}
.main__about .about__approach {
  width: 100%;
  height: 850px;
  padding: 0 0 0 15px;
  margin-top: 150px;
  background-image: url("../assets/img/cactus_alpha.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
}
.main__about .about__approach-title {
  margin-top: 150px;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.main__about .about__approach-desc {
  max-width: 730px;
  line-height: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}
@media (max-width: 1200px) {
  .main__about .about__approach {
    height: 650px;
  }
}
@media (max-width: 992px) {
  .main__about .about__approach {
    height: 500px;
  }
  .main__about .about__approach-desc {
    max-width: 500px;
  }
  .main__about .about__approach-desc br {
    display: none;
  }
}
@media (max-width: 768px) {
  .main__about .about__approach {
    height: 450px;
  }
  .main__about .about__approach-desc {
    margin-top: 10px;
    max-width: 350px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
  }
  .main__about .about__approach-title {
    margin-top: 150px;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
@media (max-width: 576px) {
  .main__about .about__approach {
    height: 650px;
    background-image: url("../assets/img/cactus_alpha.webp");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 100% 100%;
  }
  .main__about .about__approach-title {
    margin-top: 0;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
@media (max-width: 428px) {
  .main__about .about__approach {
    height: 510px;
    background-image: url("../assets/img/cactus_alpha.webp");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 100% 100%;
  }
}
@media (max-width: 1200px) {
  .main__about .about {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }
}

.main__experience .experience {
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 90px;
}
.main__experience .experience__title {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
@media (max-width: 428px) {
  .main__experience .experience__title {
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
.main__experience .experience__cards-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 55px;
  width: 100%;
  padding-inline: 15px;
}
.main__experience .experience__card {
  width: 320px;
  height: 295px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  position: relative;
}
.main__experience .experience__card-title {
  height: 83px;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 0;
}
.main__experience .experience__card-title span {
  display: block;
}
.main__experience .experience__card-btn {
  width: 144px;
  height: 83px;
  border-radius: 30px;
  transform: rotate(10deg);
  border: 0px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: -50px;
}
.main__experience .experience__card-btn-icon {
  width: 35px;
  height: 22px;
  transform: rotate(-10deg);
  margin-left: 50px;
  margin-bottom: 20px;
}
@media (max-width: 428px) {
  .main__experience .experience {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 50px;
  }
}

.testimonials {
  padding-top: 100px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 70px;
}
.testimonials__title {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
@media (max-width: 576px) {
  .testimonials__title {
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
}
.testimonials__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 0px;
}
.testimonials__slider .testimonials__btn {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  rotate: 45deg;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.15);
}
.testimonials__slider .testimonials__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 600px;
  row-gap: 0;
  position: relative;
  top: -200px;
}
@media (max-width: 576px) {
  .testimonials__slider .testimonials__btn-wrapper {
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 300px;
    row-gap: 0;
  }
}
.testimonials__slider .testimonials__btn-icon {
  width: 35px;
  height: 22px;
  fill: #fff;
}
.testimonials__slider #test_left_button-icon {
  rotate: 135deg;
}
.testimonials__slider #test_right_button-icon {
  rotate: -45deg;
}
.testimonials__slider .testimonials__card {
  width: 500px;
  height: 280px;
  border-radius: 20px;
  background-image: url(../assets/img/card-clip-path.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  flex-direction: column;
  column-gap: 0;
  row-gap: 35px;
}
.testimonials__slider .testimonials__card-img {
  margin: 20px 0 0 20px;
}
.testimonials__slider .testimonials__card-quote {
  max-width: 400px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 26px;
}
@media (max-width: 768px) {
  .testimonials__slider {
    scale: 0.73;
  }
}
@media (max-width: 576px) {
  .testimonials__slider {
    scale: 0.58;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
  }
}
.testimonials__points {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 0;
}
.testimonials__points-item {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
}
.testimonials__points .selected {
  width: 10px;
  height: 10px;
  background-color: #999999;
}
@media (max-width: 768px) {
  .testimonials__points {
    margin-top: -10px;
  }
}
@media (max-width: 576px) {
  .testimonials__points {
    margin-top: -115px;
  }
}
@media (max-width: 768px) {
  .testimonials {
    padding-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
}
@media (max-width: 576px) {
  .testimonials {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }
}

body {
  background-color: #678FF2;
}

/*# sourceMappingURL=index.css.map */
