@use 'variables' as v;
@use 'sass:color';

%hover-black{
    &:hover, &:active {
        cursor: pointer;
        color: v.$color_light-blue;
        transition: 0.15s;
    }
}

%hover-light{
    &:hover, &:active {
        cursor: pointer;
        color: v.$color_white;
        transition: 0.15s;
    }
}

%hover-btn {
    &:hover, &:active{
        cursor: pointer;
        background-color: color.adjust(v.$color_black, $alpha: -0.4);
    }
}

%hover-black-icon {
    &:hover, &:active {
        cursor: pointer;
        fill: v.$color_light-blue;
    }
}

%active-black-icon {
    &:active {
        cursor: pointer;
        fill: v.$color_light-blue;
    }
}

%exp-card-hover {
    &:hover, &:active{
        cursor: pointer;
        box-shadow: 0px 4px 38px -8px rgba(0,0,0,0.55);
        background-color: color.adjust(v.$color-white, $alpha: -0.9);
        fill: v.$color-white;
        transition: 0.15s;
        color: v.$color-white;
    }
}

