@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%hover-black{
    &:hover, &:active {
        cursor: pointer;
        color: v.$color_light-blue;
        transition: 0.15s;
    }
}

%hover-light{
    &:hover, &:active {
        cursor: pointer;
        color: v.$color_white;
        transition: 0.15s;
    }
}

%hover-btn {
    &:hover, &:active{
        cursor: pointer;
        background-color: color.adjust(v.$color_black, $alpha: -0.4);
    }
}

%hover-black-icon {
    &:hover, &:active {
        cursor: pointer;
        fill: v.$color_light-blue;
        transition: 0.15s;
    }
}

%active-black-icon {
    &:active {
        cursor: pointer;
        fill: v.$color_light-blue;
    }
}

%exp-card-hover {
    &:hover, &:active{
        cursor: pointer;
        box-shadow: 0px 4px 38px -8px rgba(0,0,0,0.55);
        background-color: color.adjust(v.$color-white, $alpha: -0.9);
        fill: v.$color-white;
        transition: 0.15s;
        color: v.$color-white;
    }
}

%experience-card-hover {
    &:hover, &:active{
        background-color: color.scale(color.adjust(v.$color-white, $alpha: -0.9), $lightness: -70%);
        box-shadow: 0px 20px 38px -8px rgba(0,0,0,0.55);
        transition: 0.15s;
    }
}

%experience-card-btn-hover {
    &:hover, &:active{ 
        scale: 1.3;
        transition: 0.15s;
    }
}

%testimonials-btn-hover {
    &:hover, &:active {
        transition-duration: 0.15s;
        background-color: darken(color.adjust(v.$color_white, $alpha: -0.85), 15%);
    }
}

%testiomonials-points-hover {
    &:hover, &:active {
        transition-duration: 0.15s;
        background-color: darken(v.$color-white, 15%);
    }
}

%testiomonials-points-hover-select {
    &:hover, &:active {
        transition-duration: 0.15s;
        background-color: darken(v.$color-white, 50%);
    }
}

%cloud-template {
    width: 700px;
    height: 240px;

    background: {
        image: url("../assets/img/cloud_alpha.png");
        position: center;
        size: contain;
        repeat: no-repeat;
    }
}

%input-template {
    width: 100%;
    height: 47px;
    border-radius: 20px;
    border: 1px solid darken(v.$color_white, 40%);
    padding: 0 1em;
    @include m.font(25px, 400, normal, v.$color_black);

    &::placeholder {
        @include m.font(25px, 100, normal, darken(v.$color_white, 40%));
    }
}


